.collages-main-container{
  width:90%;
  margin: 10px auto;
  height:100vh;
}

.collage-carousel{
  position: relative;
  margin: 0 auto;
  width:80%;
  top: 0;
  left: 0;
  display:flex;
  justify-content: center;
  align-content: center;
}



.carouselCollages:first-child{
  position: relative;
  top: 0;
  left: 0;
}

.carouselCollages{
  position: absolute;
  top: 30px;
  left: 30px;

}

// #prevcarouselCollages,
#nextcarouselCollages{
  z-index:300;
  width:100%;
  height: 100%;
}