.home_main_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position:relative;
    .home_image {
      height: 100%;
      width: 100%;
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
    .home_name {
      grid-column: 1 / 2;
      text-align: center;
      margin: auto;
    }
}


@media (max-width: 500px) {
  .home_main_container {
    display: block;
    height: 95vh;
    .home_image {
      width: 100%;
      height: 100%;
    }
    .home_name {
      display: none;
    }
  }
}

