<div id = "contact"> Contact </div>
  <div class="modal-background">
    <div class="modal-content">
      <i class="fas fa-times close-modal"></i>
      <h2>Marianne Dubois</h2>
      <p>marianne.dubois.98@gmail.com </p>
      <p>Insta 
          <%= link_to "@bistOuflex", "https://www.instagram.com/bist0uflex/?hl=fr"%>
      </p>
      <p>linkedin..........</p>
      </ul>
    </div>
  </div>