<div id = "contact"> Contact </div>
  <div class="modal-background">
    <div class="modal-content">
      <i class="fas fa-times close-modal"></i>
      <h2>Marianne Dubois</h2>
      <ul>
      <li>Mail ..........</li>
      <li>Insta @.........</li>
      <li>linkedin..........</li>
      </ul>
    </div>
  </div>