  <div class= 'opening-page' id='opening-page' >
    <%= image_tag 'https://res.cloudinary.com/devnkcikq/image/upload/v1616775096/de%CC%81tourzage_dssmm3.gif'%>
    <div class = 'opening-text'>
      <h1>MARIANNE DUBOIS</h1>
      <p id = 'door-handle'>Click to enter</p>
    </div>
  </div>