

<!-- Slideshow container -->
<div class="slideshow-container">
  <div class="">
    <% @fashion_for_just.each do |image| %>
    <div class="mySlides fade">
      <%= cl_image_tag image.photo.key, style:"width:100%"%>
    </div>
    <% end %>
  </div>
   <!-- Next and previous buttons -->
  <a class="prev" >&#10094;</a>
  <a class="next" >&#10095;</a>
</div>
