<!-- Slideshow container -->
<div class="fashion-main-container">
  <div class="carouselContainer fashion-carousel">
      <% @fashion_for_just.each do |image| %>
          <%= cl_image_tag image.photo.key, class:'carouselImgs carouselFashion'%>
      <% end %>
     <!-- Next and previous buttons -->
    <span class="prev" id="prevcarouselFashion"> </span>
    <span class="next" id="nextcarouselFashion" > </span>
  </div>


