<div class="home_main_container">
  <%= image_tag "https://res.cloudinary.com/devnkcikq/image/upload/v1616077498/Capture_d_e%CC%81cran_2021-03-18_a%CC%80_15.24.50_e3lnoh.png", alt: "alttext", class:"home_image"%>
  <div class="home_name">
    <h1>Marianne Dubois</h1>
  </div>
</div>
