<div class= 'opening-page' id='opening-page' >
  <%= image_tag 'https://res.cloudinary.com/devnkcikq/image/upload/v1616775096/de%CC%81tourzage_dssmm3.gif'%>
  <div class = 'opening-text'>
    <h1>MARIANNE DUBOIS</h1>
    <%= link_to "Click to enter", home_path, class: 'hover', id:'door-handle'%>
  </div>
</div>