.navbar{
  position:relative;
  position: sticky;
  top:0;
  flex: 0 0 350px;
  height: 100vh;
  background-color: transparent;
  margin: 0;
  z-index: 500;
}

.main-menu{
  display: block;
}

.active{
  font-weight: bolder;
  font-style: italic;
  font-size:30px !important;
}

.navlink{
  padding:12px 10px ;
  font-size: 20px;
  overflow-wrap: break-word;
}

.hover{
  transition: all 0.15s ease-in-out;
  position: relative;
    &:before,
    &:after {
      content: "";
      position: absolute;
      bottom: -5px;
      width: 0px;
      height: 20px;
      margin: 0;
      transition: all 0.15s ease-in-out;
      transition-duration: 0.75s;
      opacity: 0;
      background-color: rgb(132,112,255);
      left : -10px;
      z-index:-1;
    }
    &:hover {
      cursor: pointer;
      &:before,
      &:after {
        width: 125%;
        opacity: 1;
      }
  }
    
}

.navbar-toggle{
  display: none;
}

.navbar-burger{
  display: none;
}


@media (max-width: 500px) {
  .navbar{
    display: block;
    position:sticky;
    top:0;
    background-color: white;
    height: 60px;
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
    position: absolute;
    top: 18px;
    right: 20px;
    cursor: pointer;
    color: black;
    font-size: 24px;
    z-index:101;
  }

  .navbar-burger {
    display: block;
    position: absolute;
    top: 18px;
    right: 20px;
    cursor: pointer;
    color: black;
    font-size: 24px;
  }

  .main-menu{
    transform:translateX(-100vh);
    transition: all 0.3s ease-out;
    position: relative;
    background-color: white;

    div{
      opacity: 1;


    }
  }

}
